# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb~ 

# Conda / venv
.env/
.venv/
env/
venv/
*.env
*.yml

# Data + Generated
outputs/
*.log
*.csv
*.json
*.pt
*.ckpt

# OS nonsense
.DS_Store
Thumbs.db

# Model weights
*.bin
*.h5
*.onnx
*.safetensors